body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #a77c93;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

h1 {
  color: #ff63be;
}
.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(99, 60, 89, 0.664);
  border: 2px solid #923f58;
}

button {
  background: #9ce01e;
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 50px;
}

button:hover {
  background: #7cbf1e;
}